* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
}

body {
  padding: 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  background-color: #eee;
  padding: 20px;
}

/* header */

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0 20px 0;
}
h1 {
  font-size: 4rem;
}

header p {
  font-size: 1.6rem;
}

/* main image */

img {
  width: 100%;
}

.hero__image {
  background-color: white;
  padding: 20px;
}
figure {
  width: 1000px;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-size: 1.6rem;
  margin: 20px 0 0 0;
}

/* hero text */

.hero__text {
  padding: 50px 0;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

span {
  font-weight: bold;
}

.quote_text {
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 30px;
}

.quote_author {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 16px;
}

footer {
  text-align: center;
  font-size: 2rem;
}

a {
  font-style: italic;
  color: green;
}
